/*
  Main CSS file for sample site
  Imported by ./src/layouts/Main.js
*/

* { box-sizing: border-box; }

html, body {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  color: hsl(0, 0%, 20%);
}

a, a:visited {
  color: hsl(230, 59%, 61%);
}
a:hover {
  color: hsl(230, 56%, 46%);
}
a:active, a:focus {
  color: hsl(230, 56%, 56%);
}


.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.main {
  flex: 1;
}

.intro {
  padding: 4rem;
  text-align: center;
}

.footer {
  color: hsl(0, 0%, 60%);
  font-size: 1.4rem;
  padding: 1rem;
  text-align: center;
}

.footer a {
  color: hsl(0, 0%, 60%);
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1.8rem;
  line-height: 2.1rem;
  margin: 0;
  padding: 0;
}

p, div {
  font-size: 1.7rem;
  line-height: 1.8rem;
}
